img {
  width: 12% ;
  height: 12%;
}
.container {
display: grid;
grid-template-areas: 
  "header header"
  "subheader subheader"
  "dash-tiles dash-tiles"
  "sec-subheader sec-subheader"
  "sec-dash-tiles sec-dash-tiles";
row-gap: 6%;
column-gap: 10%;

}
.container div {
  text-align: left;
}
.header {
  grid-area: header;
  text-align: center;
  padding-bottom: 0%;
  background-color: orange;

}
.List {
  background-color: red;
  padding: 0.5%;
}
.container div.subHeader {
grid-area: subheader;
}
.container div.dash-tiles {
  grid-area: dash-tiles;
  display: grid;
 grid-template-areas: 
    "side-panel dawn sunrise solarnoon sunset dusk daylength";
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-area: dash-tiles;
  text-align: center;
  background-image: linear-gradient(to right, red, yellow); 
  padding: 2% 5% 3% 0.5%;

}
.container div.dash-tiles div.side-panel {
  grid-area: side-panel;
  text-align: left;
}
.container div.dash-tiles div.dawn {
  grid-area: dawn;
}
.container div.dash-tiles div.sunrise {
grid-area: sunrise;
}
.container div.dash-tiles div.solarnoon {
grid-area: solarnoon;
}
.container div.dash-tiles div.sunset {
grid-area: sunset;
}
.container div.dash-tiles div.dusk {
grid-area: dusk;
}
.container div.dash-tiles div.daylength {
  grid-area: daylength;
}


.container div.sec-subHeader {
  grid-area: sec-subheader;
}
/*second dashboard tiles */
.container div.sec-dash-tiles {
  grid-area: dash-tiles;
  display: grid;
 grid-template-areas: 
    "side-panel dawn sunrise solarnoon sunset dusk daylength";
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-area: sec-dash-tiles;
  text-align: center;
  background-image: linear-gradient(to left, red, yellow); 
  padding: 2% 5% 3% 0.5%;

}
.container div.sec-dash-tiles div.side-panel {
  grid-area: side-panel;
  text-align: left;
}
.container div.sec-dash-tiles div.dawn {
  grid-area: dawn;
}
.container div.sec-dash-tiles div.sunrise {
grid-area: sunrise;
}
.container div.sec-dash-tiles div.solarnoon {
grid-area: solarnoon;
}
.container div.sec-dash-tiles div.sunset {
grid-area: sunset;
}
.container div.sec-dash-tiles div.dusk {
grid-area: dusk;
}
.container div.sec-dash-tiles div.daylength {
  grid-area: daylength;
}
#error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.footer {
  padding: 10% 0%;
}