.container {
display: grid;
grid-template-areas: 
  "header header"
  "side-panel dash-tiles-dawn dash-tiles-sunrise dash-tiles-solarnoon dash-tiles-sunset dash-tiles-dusk dash-tiles-daylength";
grid-template-columns: 1fr 6fr;
}
.container div {
  background-image: linear-gradient(to right, red, yellow);
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.side-panel {
  grid-area: side-panel;
  text-align: left;
}
.container div.dash-tiles {
  grid-area: dash-tiles;
  text-align: center;
}